<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
  	<div class="navbar-header">

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "FundFinder", root_path, class: "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li> 
      <li><%= link_to "Get Started", loanapp_path , class: "btn btn-default btn-lg" %></li>
      <li><%= link_to "Login", "#", class: "btn btn-primary btn-lg" %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
 </div><!-- /.container -->
</nav>